xdb.il
xdb.s
*.swp
*.gmo
*.pc
*.zip
*.tree
*.service
*.o
*.lo
*.la
*.exe
*.mdb
*.deps*
*.libs*
*.pidb
*.config
/*.env
Makefile
Makefile.in
depcomp
POTFILES
intltool-*
reautogen.sh
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
INSTALL
aclocal.m4
autom4te.cache/
bin/
data/desktop-files/*.desktop
src/Extensions/Banshee.MeeGo/meego-panel-banshee.desktop
install-sh
libtool
ltmain.sh
missing
po/.intltool-merge-cache
po/Makefile.in.in
po/stamp-it
src/AssemblyInfo.cs
src/Clients/Booter/banshee-1
src/Clients/Booter/banshee-1.darwin
src/Clients/Booter/banshee-1.linux
src/Extensions/Banshee.AmazonMp3/bamz
data/audio-profiles/*.xml
stamp-h1
*.userprefs
Banshee.usertasks
build/m4/*.m4
build/m4/shave/shave
build/m4/shave/shave-libtool
build/bundle/build-root
build/bundle/solitary/Options.cs
C:\\NUnitPrimaryTrace.txt
tests/Performance/Performance.dll
tests/results/
extras/metrics/data
obj
*.make
help/*/*.mo
help/*/*.page
!help/C/*.page
help/*/*.xml
!help/C/*.xml
