*.swp
*.gmo
*.pc
*.zip
*.tree
*.service
*.o
*.lo
*.la
*.exe
*.mdb
*.deps*
*.libs*
*.pidb
*.config
Makefile
Makefile.in
depcomp
POTFILES
intltool-*
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
INSTALL
aclocal.m4
autom4te.cache/
bin/
data/desktop-files/*.desktop
install-sh
libtool
ltmain.sh
missing
po/.intltool-merge-cache
po/Makefile.in.in
po/stamp-it
src/AssemblyInfo.cs
src/Clients/Booter/banshee-1
data/audio-profiles/*.xml
stamp-h1
*.userprefs
Banshee.usertasks
build/m4/shave/shave
build/m4/shave/shave-libtool
release-rc
C:\\NUnitPrimaryTrace.txt
src/Dap/Banshee.Dap.Ipod/Banshee.Dap.Ipod.addin.xml
src/Dap/Banshee.Dap.MassStorage/Banshee.Dap.MassStorage.addin.xml
src/Dap/Banshee.Dap.Mtp/Banshee.Dap.Mtp.addin.xml
src/Dap/Banshee.Dap/Banshee.Dap.addin.xml
src/Extensions/Banshee.AudioCd/Banshee.AudioCd.addin.xml
src/Extensions/Banshee.BooScript/Banshee.BooScript.addin.xml
src/Extensions/Banshee.Bookmarks/Banshee.Bookmarks.addin.xml
src/Extensions/Banshee.Bpm/Banshee.Bpm.addin.xml
src/Extensions/Banshee.CoverArt/Banshee.CoverArt.addin.xml
src/Extensions/Banshee.Daap/Banshee.Daap.addin.xml
src/Extensions/Banshee.FileSystemQueue/Banshee.FileSystemQueue.addin.xml
src/Extensions/Banshee.InternetArchive/Banshee.InternetArchive.addin.xml
src/Extensions/Banshee.InternetRadio/Banshee.InternetRadio.addin.xml
src/Extensions/Banshee.Lastfm/Banshee.Lastfm.addin.xml
src/Extensions/Banshee.MiniMode/Banshee.MiniMode.addin.xml
src/Extensions/Banshee.MultimediaKeys/Banshee.MultimediaKeys.addin.xml
src/Extensions/Banshee.NotificationArea/Banshee.NotificationArea.addin.xml
src/Extensions/Banshee.NowPlaying/Banshee.NowPlaying.addin.xml
src/Extensions/Banshee.PlayQueue/Banshee.PlayQueue.addin.xml
src/Extensions/Banshee.PlayerMigration/Banshee.PlayerMigration.addin.xml
src/Extensions/Banshee.Podcasting/Banshee.Podcasting.addin.xml
